

	 	<div class="container">
    <div class="GuestIcon"></div>
    <div class="menu">
    	<span ng-bind="guestUserName"></span>
    	
    <span ng-bind="guestUserNum"></span>
    	
    	<span class="message"></span>
    	<span class="Call" ng-click="callHim()"></span>
    	
    	<span class="Delete" ng-click="deleteMessages()"></span>
    	<span class="Uplaod" ng-click="openUplaodList()"></span>
    </div>
    
    <ul id="messageLst">
      <li ng-repeat="message in messages" class="col-sm-10" ng-click="toggleSelected($event,message)">
      	
        <!-- exit a message -->
      <div style="float:left" class="col-sm-10 external" ng-if="message.userName!=userName&&message.userNum==guestUserNum"> <span id="guestUsername" ng-bind="message.userName"></span><span ng-bind="message.text" ></span>
        <!-- delete message -->
<!--
       <button ng-click="messages.$remove(message)" >X</button>
-->
      </div>
       <div style="float:right"  class="col-sm-10 local" ng-if="message.userName==userName"><span ng-bind="message.text" ></span>  
        <!-- to save message on change use ng-change="messages.$save(message)" -->
<!--
       <button  >X</button>
-->
      </div>
       
      </li>
      
    </ul>
    
    <!-- push a new message into the array -->
    <form ng-submit="addMessage(newMessageText)" class="form-horizontal">
      <input ng-model="newMessageText" />
      <button type="submit" class="btn btn-success">add message</button>
    </form>
    </div>
  